<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/fw-chap-4-challenge/CSS/style.css">
    <title>FW Chap 4 Challenge</title>
</head>

<body>
    <div class="d-flex flex-row bd-highlight mb-0">
        <div class="p-2 bd-highlight align-self-center">
            <a href="/home" class="arrow"> &#60 </a>
        </div>
        <div class="p-2 bd-highlight align-self-center">
            <img src="/fw-chap-4-challenge/Images/logo 1.png" width="50px" height="50px" alt="logo">
        </div>
        <div class="p-2 bd-highlight align-self-center">
            <h1> Rock Paper Scissors </h1>
        </div>
    </div>

    <div class="d-flex flex-row bd-highlight mb-0 scoreBoard">
        <div class="col-5">
            <h3> Player 1</h3>
        </div>
        <div class="col-2"> 
            <h3><span id="playerScore">0</span>:<span id="comScore">0</span></h3>
            </div>
        <div class="col-5">
            <h3>Com</h3>
        </div>
    </div>

    <div class="d-flex flex-row bd-highlight mb-0">
        <div class="col-5">
            <img src="/fw-chap-4-challenge/Images/batu.png" alt="image batu" class="batu" id="batu">
        </div>
        <div class="col-2"> </div>
        <div class="col-5">
            <img src="/fw-chap-4-challenge/Images/batu.png" alt="image batu" class="batu" id="batu2">
        </div>
    </div>

    <div class="d-flex flex-row bd-highlight mb-0">
        <div class="col-5">
            <img src="/fw-chap-4-challenge/Images/kertas.png" alt="image kertas" class="kertas" id="kertas">
        </div>
        <div class="col-2"> 
            <h4 id=vsAction>VS</h4>
        </div>
        <div class="col-5">
            <img src="/fw-chap-4-challenge/Images/kertas.png" alt="image kertas" class="kertas" id="kertas2">
        </div>
    </div>

    <div class="d-flex flex-row bd-highlight mb-0">
        <div class="col-5">
            <img src="/fw-chap-4-challenge/Images/gunting.png" alt="image gunting" class="gunting" id="gunting">
        </div>
        <div class="col-2"> </div>
        <div class="col-5">
            <img src="/fw-chap-4-challenge/Images/gunting.png" alt="image gunting" class="gunting" id="gunting2">
        </div>
    </div>

    <div class="d-flex flex-row bd-highlight mb-0">
        <div class="col-12" id=refreshAction>
            <img src="/fw-chap-4-challenge/Images/refresh.png" class="refresh" id="refreshAction">
        </div>
    </div>

    <script src="/fw-chap-4-challenge/JavaScript/app.js" charset="utf-8" async></script>
</body>

</html>